<nav>
    <div class="breadcrumbs"><a href="{{ target.rootpath }}">Docs</a><span class="language-separator" hidden>&nbsp;&gt; </span><span class="language" hidden><a href="{{ target.rootpath | normalize-path }}{{ document.language-code | slug }}/">{{ document.language }}</a></span><span class="version-separator" hidden>&nbsp;&gt; </span><span class="version" hidden><a class="version" href="{{ target.rootpath | normalize-path }}{{ document.language-code | slug }}/{{ document.project-version | slug }}/">{{ document.project }} {{ document.project-version }}</a></span>&nbsp;&gt; {{ document.title }}</div>
    <div class="navigation" hidden>
        {{ target.sitemap }}
    </div>
</nav>
